{% extends 'base.html' %}

{% block title %}
Login
{% endblock%}

{% block content %}
<div class="wrapper">
      <div class="title"><span>Login form</span></div>
      <form action="#">
            <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                  </div>
                  <input type="text" placeholder="Username" name="username " class="form-control" required>
            </div>
            <div class="input-group mb-2">
                  <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                  </div>
                  <input type="password" placeholder="Password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary  btn-block  form-control">login</button>
      </form>
</div>
{% endblock %}